# Debug mode (set to False in production)
DEBUG=True

# Django secret key (required)
SECRET_KEY="put-here-your-secret-key-and-don't-share-it"

# Google login
GOOGLE_CLIENT_ID='your-google-CLIENT_ID-for-google-auth'
GOOGLE_CLIENT_SECRET='your-GOOGLE_CLIENT_SECRET-for-google-auth'
GOOGLE_REDIRECT_URI=http://127.0.0.1:8000/api/auth/google/callback/

MAIL_PASSWORD='Your-email-password-for-mail-sending'

# Database configuration
DATABASE_NAME=imhotep_finance_db
DATABASE_USER=imhotep_finance_user
DATABASE_PASSWORD=imhotep_finance_password
DATABASE_HOST=db

# API Keys
EXCHANGE_API_KEY_PRIMARY='your-api-exchange-rates-api'
