{% extends "layout_login.html" %}

{% block body %}
<div class="form-container">

    <div class="message-container">
        {% if error %}
            <div class="error-message">
                {{ error }}
            </div>
        {% endif %}

        {% if error_existing %}
          <div class="error-message">
              {{ error_existing }}</a>
          </div>
      {% endif %}
    </div>
    {% include 'back.html' %}
    <p class="title">Welcome</p>
    <form action="/add_username_google_login" method="post" class="form">
      {{ form.hidden_tag() }}
      <input type="name" class="input" placeholder="Username" name="user_username" required="">
      <p class="page-link"></p>
      <button class="form-btn">
        <i class="fas fa-user-plus"></i> Add Username
      </button>
    </form>
  </div>

{% endblock %}