{% extends "layout.html" %}

{% block body %}
<div class="form-container">
    
    <p class="title">Welcome</p>
    <form action="/settings/security" method="post" class="form">
        <input type="password" class="input" placeholder="New Password" name="new_password" id="password" required="">
        <input type="password" class="input" placeholder="Confirm New Password" id="confirm_password" required="">
        <p class="page-link"></p>
        <button class="form-btn">Check</button>
    </form>
  </div>
  <script>
    function validatePassword() {
        var password = document.getElementById("password").value;
        var confirmPassword = document.getElementById("confirm_password").value;

        if (password !== confirmPassword) {
            alert("Passwords do not match!");
            return false;
        }
        return true;
    }
</script>
{% endblock %}