{% extends "layout_login.html" %}

{% block body %}
<div class="form-container">
    <p class="title">Welcome</p>
    <form action="/settings/security" method="post" class="form">
      {{ form.hidden_tag() }}
        <input type="password" class="input" placeholder="New Password" name="new_password" id="password" required="">
        <input type="password" class="input" placeholder="Confirm New Password" id="confirm_password" required="">
        <input type="hidden" name="user_id" value="{ user_id }">
        <label for="password-toggle" class="password-toggle-btn">
            <input type="checkbox" id="password-toggle" onclick="togglePasswordVisibility_all()">
            <span class="checkmark">Show password</span>
          </label>
        <p class="page-link"></p>
        <button class="form-btn" title="Submit">
          <i class="fas fa-check"></i>
      </button>
    </form>
  </div>

{% endblock %}