{% extends "layout_login.html" %}

{% block body %}

<div class="form-container">
    <div class="message-container">
        {% if error_not %}
            <div class="error-message">
                {{ error }}
            </div>
        {% endif %}
    </div>
    {% include 'back.html' %}
    <p class="title">Check Password</p>
    <form action="/settings/security_check" method="post" class="form">
        <input type="hidden" name="user_id" value="{ user_id }">
        <input type="password" class="input" placeholder="Old Password" name="check_pass" id = "password" required="">
        <label for="password-toggle" class="password-toggle-btn">
            <input type="checkbox" id="password-toggle" onclick="togglePasswordVisibility()">
            <span class="checkmark">Show password</span>
          </label>
        <p class="page-link"></p>
        <button class="form-btn">Check</button>
    </form>
  </div>
  <script>
    function togglePasswordVisibility() {
      var passwordInput = document.getElementById("password");
      if (passwordInput.type === "password") {
        passwordInput.type = "text";
      } else {
        passwordInput.type = "password";
      }
    }
    </script>
{% endblock %}