{% extends "layout_login.html" %}

{% block body %}

<div class="form-container">
    <div class="message-container">
        {% if error_not %}
            <div class="error-message">
                {{ error }}
            </div>
        {% endif %}
    </div>
    {% include 'back.html' %}
    <p class="title">Check Password</p>
    <form action="/settings/security_check" method="post" class="form">
        <input type="password" class="input" placeholder="Old Password" name="check_pass" required="">
        <p class="page-link"></p>
        <button class="form-btn">Check</button>
    </form>
  </div>
{% endblock %}