{% extends "layout_login.html" %}

{% block body %}

<style>
    body {
        margin: 0;
        font-family: Arial, sans-serif;
    }

    .centered {
        text-align: center;
        margin-bottom: 20px;
    }

    .links {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .links a {
        color: #986f07;
        text-decoration: none;
        padding: 5px;
    }

    .links a:hover {
        text-decoration: underline;
    }

    .ios-instructions,
    .android-instructions {
        display: none;
        text-align: center;
        padding: 10px;
        background-color: #f9f9f9;
        border: 1px solid #ddd;
        margin-top: 20px;
    }

    @media (min-width: 600px) {
        .links {
            flex-direction: row;
            justify-content: space-between;
        }
    }

    img {
        max-width: 80%;
        height: auto;
    }
</style>

{% include 'back.html' %}
<div style="text-align:center ;">
    <h1>Windows Download</h1>
    <a href="https://github.com/Kbassem10/imhotep_finance/releases/download/Imhotep_Financial_Manager/Imhotep-Financial-Manager-Windows.exeows.exe" style="color: #986f07;" onclick="startDownload()">
        <img src="{{ url_for('static', filename='windows.png') }}" style="height: 100px;" alt="Windows Download Link">
    </a>
    <br><br>
    <h1>MacOS Download</h1>
    <a href="https://github.com/Kbassem10/imhotep_finance/releases/download/Imhotep_Financial_Manager/Imhotep-Financial-Manager-MacOS.dmg" style="color: #986f07;" onclick="startDownload()">
        <img src="{{ url_for('static', filename='macos.webp') }}" style="height: 100px;" alt="MacOS Download Link">
    </a>
    <br><br>
    <h1>Android Download</h1>
    <a href="https://www.amazon.com/dp/B0D9TVMV3D/ref=sr_1_2?dib=eyJ2IjoiMSJ9.qzFudk5ElS-BgrqDZfGpZ41oDM22hTBqu51QpR0uz2U.gaEl94dYgf1OQ7HDnnCjwOm9-K70Vj7R-gUBLnW6eGQ&dib_tag=se&qid=1721656003&refinements=p_4%3AImhotep+Tech&s=mobile-apps&search-type=ss&sr=1-2"
       style="color: #986f07;" onclick="hideLoadingScreen()">
        <img src="{{ url_for('static', filename='amazon.png') }}" height="50" width="auto" alt="Android Amazon Download">
    </a>
    <br><br>
    <h1>IOS Steps To Download</h1>
    <a id="iosInstall" href="#" style="color: #986f07;">
        <img src="{{ url_for('static', filename='ios.png') }}" height="70" width="auto" alt="Add to Home Screen on iOS">
    </a>
    <div class="ios-instructions" id="iosInstructions">
        <p>To add this app to your home screen on iOS:</p>
        <ol>
            <li>Tap the Share button at the bottom of the Safari browser.</li>
            <li>Select "Add to Home Screen" from the options.</li>
        </ol>
    </div>
</div>

<script>
        let deferredPrompt;

// Function to handle PWA installation prompt
function setupPWAInstallPrompt() {
    window.addEventListener('beforeinstallprompt', (e) => {
        e.preventDefault();
        deferredPrompt = e;

        document.getElementById('installButton').addEventListener('click', (e) => {
            e.preventDefault();
            deferredPrompt.prompt();
            deferredPrompt.userChoice.then((choiceResult) => {
                if (choiceResult.outcome === 'accepted') {
                    console.log('User accepted the A2HS prompt');
                } else {
                    console.log('User dismissed the A2HS prompt');
                }
                deferredPrompt = null;
            });
        });
    });
}

// Function to show iOS install instructions
function showIOSInstallInstructions() {
    document.getElementById('iosInstall').addEventListener('click', (e) => {
        e.preventDefault();
        document.getElementById('iosInstructions').style.display = 'block';
    });
}

// Call the functions on page load
setupPWAInstallPrompt();
showIOSInstallInstructions();

    function startDownload() {
        showLoadingScreen();
        setTimeout(hideLoadingScreen, 2000); // Adjust the delay (in milliseconds) if necessary
    }

    function showLoadingScreen() {
        document.getElementById('loading-overlay').style.display = 'flex';
    }

    function hideLoadingScreen() {
        document.getElementById('loading-overlay').style.display = 'none';
    }

    // Show loading screen on form submission
    document.addEventListener('DOMContentLoaded', function() {
        const forms = document.querySelectorAll('form');
        forms.forEach(form => {
            form.addEventListener('submit', function() {
                showLoadingScreen();
            });
        });
    });

    // Handle page load and unload
    window.addEventListener('load', function() {
        hideLoadingScreen(); // Ensure loading screen is hidden after initial load
    });

    window.addEventListener('beforeunload', function() {
        showLoadingScreen(); // Show loading screen when navigating away
    });

    // Show loading screen when navigating back
    window.addEventListener('pageshow', function(event) {
        if (event.persisted) {
            showLoadingScreen();
            setTimeout(function() {
                hideLoadingScreen();
            }, 100); // Adjust delay if necessary
        }
    });

    window.addEventListener('online', updateOnlineStatus);
    window.addEventListener('offline', updateOnlineStatus);

    function updateOnlineStatus() {
        if (!navigator.onLine) {
            document.body.innerHTML = '<h1>You are offline</h1><p>Database connection is unavailable. Please check your internet connection.</p>';
        } else {
            location.reload();  // Reload when back online
        }
    }
    
    // Check localStorage for user preference
    if (localStorage.getItem('dark-mode') === 'enabled') {
        document.body.classList.add('dark-mode');
    }

    // Toggle dark mode on button click
    toggleDarkMode.addEventListener('click', () => {
        document.body.classList.toggle('dark-mode');
        // Save user preference in localStorage
        if (document.body.classList.contains('dark-mode')) {
            localStorage.setItem('dark-mode', 'enabled');
        } else {
            localStorage.setItem('dark-mode', 'disabled');
        }
    });

</script>

{% endblock %}
