{% extends "layout_login.html" %}

{% block body %}

<style>
        body {  
    margin: 0;
    font-family: Arial, sans-serif;
}

.centered {
    text-align: center;
    margin-bottom: 20px;
}

.links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.links a {
    color: #986f07;
    text-decoration: none;
    padding: 5px;
}

.links a:hover {
    text-decoration: underline;
}

.ios-instructions,
.android-instructions {
    display: none;
    text-align: center;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    margin-top: 20px;
}

@media (min-width: 600px) {
    .links {
        flex-direction: row;
        justify-content: space-between;
    }
}

img {
    max-width: 80%;
    height: auto;
}
</style>
        {% include 'back.html' %}
        <div style="text-align:center ;">
        <h1>Android & PC & Mac</h1>
        <a href="https://github.com/Kbassem10/imhotep_finance_apk/releases/tag/imhotep_finance" style="color: #986f07;">
            <img src="{{ url_for('static', filename='github.png') }}" height="100" width="auto" alt="Github Download">
        </a>

        <br>
        <a href="https://drive.google.com/drive/folders/19e8fWPZruHKRUAMkoMPNKat-c96ohwzi?usp=sharing" style="color: #986f07;">
            <img src="{{ url_for('static', filename='googledrive.png') }}" height="50" width="auto" alt="Google Drive Download">
        </a>
        <br>
        <h1>Android Only</h1>
        <a href="https://www.amazon.com/dp/B0D9TVMV3D/ref=sr_1_2?dib=eyJ2IjoiMSJ9.qzFudk5ElS-BgrqDZfGpZ41oDM22hTBqu51QpR0uz2U.gaEl94dYgf1OQ7HDnnCjwOm9-K70Vj7R-gUBLnW6eGQ&dib_tag=se&qid=1721656003&refinements=p_4%3AImhotep+Tech&s=mobile-apps&search-type=ss&sr=1-2" style="color: #986f07;">
            <img src="{{ url_for('static', filename='amazon.png') }}" height="50" width="auto" alt="Android Amazon Download">
        </a>

        <br>

        <br>
        <h1>IOS</h1>
        <a id="iosInstall" href="#" style="color: #986f07;">
            <img src="{{ url_for('static', filename='ios.jpg') }}" height="70" width="auto" alt="Add to Home Screen on iOS">
        </a>
    <div class="ios-instructions" id="iosInstructions">
        <p>To add this app to your home screen on iOS:</p>
        <ol>
            <li>Tap the Share button at the bottom of the Safari browser.</li>
            <li>Select "Add to Home Screen" from the options.</li>
        </ol>
    </div>
</div>
    </body>
    <script>
        let deferredPrompt;

        // Function to handle PWA installation prompt
        function setupPWAInstallPrompt() {
            window.addEventListener('beforeinstallprompt', (e) => {
                e.preventDefault();
                deferredPrompt = e;

                document.getElementById('installButton').addEventListener('click', (e) => {
                    e.preventDefault();
                    deferredPrompt.prompt();
                    deferredPrompt.userChoice.then((choiceResult) => {
                        if (choiceResult.outcome === 'accepted') {
                            console.log('User accepted the A2HS prompt');
                        } else {
                            console.log('User dismissed the A2HS prompt');
                        }
                        deferredPrompt = null;
                    });
                });
            });
        }

        // Function to show iOS install instructions
        function showIOSInstallInstructions() {
            document.getElementById('iosInstall').addEventListener('click', (e) => {
                e.preventDefault();
                document.getElementById('iosInstructions').style.display = 'block';
            });
        }

        // Call the functions on page load
        setupPWAInstallPrompt();
        showIOSInstallInstructions();
    </script>
{% endblock %}
