<!DOCTYPE html>
<html>
  <head>
    <title>Error</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">
    <meta charset="utf-8">
    <link rel="shortcut icon" href="{{ url_for('static', filename='imhotep_finance.ico')}}">
    <meta name="description" content="Imhotep Financial Manager - Manage Finance with ease.">
    <meta name="keywords" content="Finance, Financial Manager, Imhotep Finance, Imhotep Financial Manager">
</head>
<body>
    <div class="grid h-screen place-content-center bg-white px-4 dark:bg-gray-900">
  <div class="text-center">
    <h1 class="text-9xl font-black text-gray-200 dark:text-gray-700">{{error_code}}</h1>

    <p class="text-2xl font-bold tracking-tight text-gray-900 sm:text-4xl dark:text-white">
      Uh-oh!
    </p>

    <p class="mt-4 text-gray-500 dark:text-gray-400">{{ error_description }}</p>

    <a
      href="/"
      class="mt-6 inline-block rounded bg-indigo-600 px-5 py-3 text-sm font-medium text-white hover:bg-indigo-700 focus:outline-none focus:ring"
    >
      Go Back Home
    </a>
  </div>
</div>
</body>
</html>