<footer>
    <div class="footer-content">
        <p>&copy; 2025 Imhotep Financial Manager. All rights reserved. <a href="https://imhoteptech.vercel.app" style="color: white;">Imhotep tech</a><br>
            <a href="/version" style="color: white;">Version: 5.0.0</a>
            <a href="/download" title="Download" style="color: white;">
                <i class="fas fa-download"></i> Download
            </a></p>
            <div class="d-flex justify-content-center align-items-center mb-3">
                <a href="/terms" style="color: white; text-decoration: none; margin-right: 15px;">Terms and Conditions</a> |
                <a href="/privacy" style="color: white; text-decoration: none; margin-left: 15px;">Privacy Policy</a>
            </div>
            <div class="d-flex justify-content-center align-items-center mb-3">
                <a href="https://forms.gle/mLh4eFbkvxSE9aDT9" class="btn-report" title="Report a Bug">
                    <i class="fas fa-bug"></i> Report a Bug
                </a>
                <a href="/rate_app" class="btn-rate" title="Rate the App">
                    <i class="fas fa-star"></i> Rate the App
                </a>
            </div>
            <div class="d-flex justify-content-end align-items-center">
                <p class="mb-0">Contact us:</p>
                <a href="mailto:imhoteptech@outlook.com" class="footer-icon">
                    <i class="fa fa-envelope"></i>
                </a>
                <a href="https://www.instagram.com/imhotep_tech?igsh=YXV0Y24xZnNveDQ5" target="_blank" class="footer-icon">
                    <i class="fab fa-instagram"></i>
                </a>
                <a href="https://x.com/Imhoteptech1?t=E5JmfSp5WpyZaWkDzILpKw&s=09" target="_blank" class="footer-icon">
                    <i class="fab fa-twitter"></i> 
                </a>
                <a href="https://github.com/Imhotep-Tech" target="_blank" class="footer-icon">
                    <i class="fab fa-github"></i> 
                </a>
            </div>
    </div>
</footer>