{% extends "layout_login.html" %}

{% block body %}
<div class="form-container">
    
    <div class="message-container">
        {% if error %}
            <div class="error-message">
                {{ error }}
            </div>
        {% endif %}
    </div>
    {% include 'back.html' %}
    <p class="title">Forget Password</p>
    <form action="/forget_password" method="post" class="form">
        <input type="name" class="input" placeholder="Enter Your Mail" name="user_mail" required="">
        <p class="page-link"></p>
        <button class="form-btn" title="Submit">
            <i class="fas fa-check"></i>
        </button>
    </form>
  </div>
{% endblock %}