{% extends "layout_login.html" %}

{% block body %}

<div class="message-container">
  {% if success %}
    <div class="done-message">
        {{ success }}
    </div>
  {% endif %}
</div>
<div class="message-container1">
  {% if error %}
    <div class="error-message">
      {{ error }}
    </div>
  {% elif error_verify %}
    <div class="error-message">
      {{ error_verify }} <a href="/manual_mail_verification">Verify Now</a>
    </div>
  {% endif %}
</div>

<div class="form-container">
    <div>
      <img src="{{ url_for('static', filename='imhotep_finance.jpeg') }}" 
          height="200" 
          width="auto" 
          alt="Imhotep Financial Manager"
          style="display: block; margin-left: auto; margin-right: auto;">
    </div>
    <form id="login-form" action="/login" method="POST" class="form">
      <input type="name" class="input" placeholder="Username/ E-Mail" name="user_username_mail" required="">
      <div class="password-container">
        <input type="password" id="password" class="input" placeholder="Password" name="user_password" required=""><br><br>
        <label for="password-toggle" class="password-toggle-btn">
          <input type="checkbox" id="password-toggle" onclick="togglePasswordVisibility()">
          <span class="checkmark">Show password</span>
        </label>
      </div>
      <p class="page-link">
        <a href="/forget_password">
            <span class="page-link-label">Forgot Password?</span>
        </a>
      </p>
      <button type="submit" class="form-btn">
        <i class="fas fa-sign-in-alt"></i> Login
      </button>
    </form>
    <a class="sign-up-label" href="/register_page">
        Don't have an account?<span class="sign-up-link">Sign up</span>
    </a>
    <br><br>
</div>

<script>
  document.getElementById('login-form').addEventListener('submit', function() {
      document.getElementById('loading-overlay').style.display = 'flex';
  });

  function togglePasswordVisibility() {
  var passwordInput = document.getElementById("password");
  if (passwordInput.type === "password") {
    passwordInput.type = "text";
  } else {
    passwordInput.type = "password";
  }
}
</script>

{% endblock %}
