{% extends "layout.html" %}

{% block body %}
<div class="form-container">
    <div class="message-container">
        {% if error %}
            <div class="error-message">
                {{ error }}
            </div>
        {% endif %}
    </div>
    <p class="title">Verify</p>
    <form action="/settings/personal_info/mail_verification" method="post" class="form" onsubmit="return validatePassword()">
        <input type="hidden" name="secret_key" value="{{ secret_key }}">
        <input type="name" class="input" placeholder="Verification Code" name="verification_code" required="">
        <input type="hidden"  name="user_username" value="{{ user_username }}">
        <input type="hidden"  name="user_mail" value="{{ user_mail }}">
        <input type="hidden"  name="user_mail_db" value="{{ user_mail_db }}">
        <p class="page-link"></p>
        <button class="form-btn">
            <i class="fas fa-check"></i>
        </button>
    </form>
  </div>
{% endblock %}
