{% extends "layout.html" %}

{% block body %}
    <div class="form-container">

        <div class="message-container">

            {% if error %}
            <div class="error-message">{{ error }}</div>
            {% elif done %}
            <div class="done-message">{{ done }}</div>
            {% endif %}

        </div>

            {% if user_photo_path %}
            <img src="{{ url_for('static', filename = '/user_photo/'+ user_photo_path) }}" alt="Image" class="user_img">

            <form action="/settings/personal_info/delete_user_photo" method="post" onclick="return confirm('Are you sure you want to delete your image')">
                <button type="submit" class="btn-red" title="Delete">
                    <i class="fas fa-trash"></i>
                </button>
            </form>
            
            {% else %}
            <form action="/settings/personal_info/upload_user_photo" method="post" enctype="multipart/form-data" id="upload-form">
                <label for="file-upload" class="btn-upload">
                    <i class="fas fa-cloud-upload-alt"></i> Upload File
                </label>
                <input id="file-upload" type="file" name="file" style="display: none;" id="picture" onchange="submitForm();">
            </form>
            <br>
            {% endif %}

            <br>
            <form action="/settings/personal_info" method="post" class="form" onsubmit="return confirm('Are you sure you want to edit this');">
            <label>Username</label>
            <input type="name" class="input" placeholder="Username" value="{{ user_username }}" name="user_username" required="">
            <label>E-mail</label>
            <input type="mail" class="input" placeholder="E-Mail" value="{{ user_mail }}" name="user_mail" required="">
            <p class="page-link"></p>
            <button class="form-btn" title="Submit">
                <i class="fas fa-check"></i>
            </button>
            </form>
    </div>
    <script>
        function submitForm() {
            document.getElementById("upload-form").submit();
        }
    </script>
{% endblock %}