{% extends "layout.html" %}

{% block body %}
    <div class="form-container">

        <div class="message-container">
            {% if error %}
            <div class="error-message">{{ error }}</div>
            {% elif done %}
            <div class="done-message">{{ done }}</div>
            {% endif %}
        </div>

        {% if user_photo_path %}
        <img src="{{ url_for('static', filename='/user_photo/' + user_photo_path) }}" alt="Image" class="user_img">
        <form action="/settings/personal_info/delete_user_photo" method="post">
            {{ form.hidden_tag() }}
            <button type="submit" class="btn-red" title="Delete">
                <i class="fas fa-trash"></i>
            </button>
        </form>
        {% else %}
        <form action="/settings/personal_info/upload_user_photo" method="post" enctype="multipart/form-data" id="upload-form">
            {{ form.hidden_tag() }}
            <label for="file-upload" class="btn-upload">
                <i class="fas fa-cloud-upload-alt"></i> Upload File
            </label>
            <input id="file-upload" type="file" name="file" style="display: none;" onchange="submitForm();">
        </form>
        <br>
        {% endif %}

        <br>
        <button id="toggleDarkMode" class="btn btn-outline-secondary">Dark / Light Mode</button>
        <br>
        <form action="/settings/personal_info" method="post" class="form">
            {{ form.hidden_tag() }}
            <label>Username</label>
            <input type="text" class="input" placeholder="Username" value="{{ user_username }}" name="user_username" required="">
            <label>E-mail</label>
            <input type="email" class="input" placeholder="E-Mail" value="{{ user_mail }}" name="user_mail" required="">
            <p class="page-link"></p>
            <button class="form-btn" title="Submit">
                <i class="fas fa-check"></i>
            </button>
        </form>
    </div>

{% endblock %}
