{% extends "layout_login.html" %}

{% block body %}
<div class="form-container">

    <div class="message-container">
        {% if error %}
            <div class="error-message">
                {{ error }} <a href="/login_page">Sign in</a>
            </div>
        {% endif %}

        {% if error_existing %}
          <div class="error-message">
              {{ error_existing }}</a>
          </div>
      {% endif %}
    </div>
    {% include 'back.html' %}
    <p class="title">Welcome</p>
    <form action="/register" method="post" class="form" onsubmit="return validatePassword()">
      {{ form.hidden_tag() }}
      <input type="name" class="input" placeholder="Username" name="user_username" required="">
      <input type="mail" class="input" placeholder="E-Mail" name="user_mail" required="">
      <input type="password" class="input" placeholder="Password" name="user_password" id="password" required="">
      <input type="password" class="input" placeholder="Confirm Password" id="confirm_password" required="">
      <label for="password-toggle" class="password-toggle-btn">
        <input type="checkbox" id="password-toggle" onclick="togglePasswordVisibility_all()">
        <span class="checkmark">Show password</span>
      </label>
      <p class="page-link"></p>
      <button class="form-btn">
        <i class="fas fa-user-plus"></i> Register
      </button>

    </form>
    <a href="/register_google" class="google-link" text-decoration:none;">
      <div class="google-login-button">
          <svg stroke="currentColor" fill="currentColor" stroke-width="0" version="1.1" x="0px" y="0px" class="google-icon" viewBox="0 0 48 48" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
            <path fill="#FFC107" d="M43.611,20.083H42V20H24v8h11.303c-1.649,4.657-6.08,8-11.303,8c-6.627,0-12-5.373-12-12
    c0-6.627,5.373-12,12-12c3.059,0,5.842,1.154,7.961,3.039l5.657-5.657C34.046,6.053,29.268,4,24,4C12.955,4,4,12.955,4,24
    c0,11.045,8.955,20,20,20c11.045,0,20-8.955,20-20C44,22.659,43.862,21.35,43.611,20.083z"></path>
            <path fill="#FF3D00" d="M6.306,14.691l6.571,4.819C14.655,15.108,18.961,12,24,12c3.059,0,5.842,1.154,7.961,3.039l5.657-5.657
    C34.046,6.053,29.268,4,24,4C16.318,4,9.656,8.337,6.306,14.691z"></path>
            <path fill="#4CAF50" d="M24,44c5.166,0,9.86-1.977,13.409-5.192l-6.19-5.238C29.211,35.091,26.715,36,24,36
    c-5.202,0-9.619-3.317-11.283-7.946l-6.522,5.025C9.505,39.556,16.227,44,24,44z"></path>
            <path fill="#1976D2" d="M43.611,20.083H42V20H24v8h11.303c-0.792,2.237-2.231,4.166-4.087,5.571
    c0.001-0.001,0.002-0.001,0.003-0.002l6.19,5.238C36.971,39.205,44,34,44,24C44,22.659,43.862,21.35,43.611,20.083z"></path>
          </svg>
          <span>Register with Google</span>
        </div>
      </a>
  </div>

  <script>
    function validatePassword() {
        var password = document.getElementById("password").value;
        var confirmPassword = document.getElementById("confirm_password").value;

        if (password !== confirmPassword) {
            alert("Passwords do not match!");
            return false;
        }
        return true;
    }

function togglePasswordVisibility_all() {
  var passwordInput = document.getElementById("password");
  var confirm_passwordInput = document.getElementById("confirm_password");
  if (passwordInput.type === "password") {
    passwordInput.type = "text";
  } else {
    passwordInput.type = "password";
  }

  if (confirm_passwordInput.type === "password") {
    confirm_passwordInput.type = "text";
  } else {
    confirm_passwordInput.type = "password";
  }
}
</script>
{% endblock %}