{% extends "layout.html" %}

{% block body %}
    {% include 'nav.html' %}
        
    <div class="message-container">

        {% if error %}
        <div class="error-message">{{ error }}</div>
        {% endif %}

    </div>
    <div class="container">
        <table class="c">
            <thead>
                <tr>
                    <th>Transactions ID</th>
                    <th>Date</th>
                    <th>Amount</th>
                    <th>Currency</th>
                    <th>Transaction Details</th>
                    <th>Link</th>
                    <th>Status</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for trans in trans_db %}
                    <tr>
                        <td>{{ trans.trans_id }}</td>
                        <td>{{ trans.date }}</td>
                        <td>{{ "{:,.2f}".format(trans.amount|float) }}</td>
                        <td>{{ trans.currency }}</td>
                        <td class="details-cell">{{ trans.trans_details }}</td>
                        <td class="details-cell">
                            <a href="{{ trans.trans_details_link }}" target="_blank" title="{{ trans.trans_details_link }}">{{ trans.trans_details_link}}</a>
                        </td>
                        <td>{{ trans.trans_status }}</td>
                        <td>
                            <form action="/edit_trans" method="get">
                                <input type="hidden" name="trans_key" value="{{ trans.trans_key }}">
                                <button type="submit">Edit</button>
                            </form>
                            <form action="/delete_trans" method="post">
                                <input type="hidden" name="trans_key" value="{{ trans.trans_key }}">
                                <button type="submit">Delete</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}