{% extends "layout.html" %}

{% block body %}
    {% include 'nav.html' %}
    <body>
        <div class="container" style="flex-grow: 1; padding-top: 80px; overflow: auto;">
            <div class="message-container">
                {% if error %}
                <div class="error-message">{{ error }}</div>
                {% endif %}
            </div>

            <div style="text-align: center;">
                <table class="table-container">
                    <thead>
                        <tr>
                            <td style="display: inline-block; vertical-align: top;">
                                <form action="/trash_trans" method="get">
                                    <button type="submit" class="btn-green" title="Trash">
                                        <i class="fas fa-trash"></i>
                                    </button>
                                </form>
                            </td>
                        </tr>
                    </thead>
                </table>
            </div>

            <div class="table-container" style="flex-grow: 1; overflow: auto;">
                <form action="/show_trans" method="get" id="date-form">
                    <table>
                        <tr>
                            <th>
                                From Date:
                                <input type="date" name="from_date" value="{{ from_date }}">
                            </th>
                            <th>
                                To Date:
                                <input type="date" name="to_date" value="{{ to_date }}">
                            </th>
                            <th>
                                <button class="form-btn" title="Submit" type="submit">
                                    <i class="fas fa-check"></i>
                                </button>
                            </th>
                        </tr>
                    </table>
                </form>
                <table class="c">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Date</th>
                            <th>Amount</th>
                            <th>Currency</th>
                            <th>Details</th>
                            <th>Link</th>
                            <th>Status</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for trans in trans_db %}
                            <tr>
                                <td>{{ trans.trans_id }}</td>
                                <td>{{ trans.date }}</td>
                                <td>{{ "{:,.2f}".format(trans.amount|float) }}</td>
                                <td>{{ trans.currency }}</td>
                                <td class="details-cell">{{ trans.trans_details }}</td>
                                <td class="details-cell">
                                    <a href="{{ trans.trans_details_link }}" target="_blank" title="{{ trans.trans_details_link }}">{{ trans.trans_details_link }}</a>
                                </td>
                                <td>{{ trans.trans_status }}</td>
                                <td>
                                    <form action="/edit_trans" method="get" style="display: inline;">
                                        {{ form.hidden_tag() }}
                                        <input type="hidden" name="trans_key" value="{{ trans.trans_key }}">
                                        <button type="submit" class="btn-green" title="Edit">
                                            <i class="fas fa-pen"></i>
                                        </button>
                                    </form>
                                    <form action="/delete_trans" method="post" style="display: inline;">
                                        {{ form.hidden_tag() }}
                                        <input type="hidden" name="trans_key" value="{{ trans.trans_key }}">
                                        <button type="submit" class="btn-red" title="Delete">
                                            <i class="fas fa-trash"></i>
                                        </button>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
             <!-- Pagination Controls -->
             <div class="pagination">
                <div class="pagination-controls">
                    <!-- Previous Page Button -->
                    {% if page > 1 %}
                        <a href="{{ url_for('show_trans', page=page-1, from_date=from_date, to_date=to_date) }}" class="btn btn_page">Prev</a>
                    {% else %}
                        <span class="btn disabled btn_page">Prev</span>
                    {% endif %}

                    <!-- Dropdown Menu for Page Selection -->
                    <select id="page-selector" onchange="window.location.href=this.value">
                        {% for p in range(1, total_pages + 1) %}
                            <option value="{{ url_for('show_trans', page=p, from_date=from_date, to_date=to_date) }}" {% if p == page %}selected{% endif %}>
                                Page {{ p }}
                            </option>
                        {% endfor %}
                    </select>

                    <!-- Next Page Button -->
                    {% if page < total_pages %}
                        <a href="{{ url_for('show_trans', page=page+1, from_date=from_date, to_date=to_date) }}" class="btn btn_page">Next</a>
                    {% else %}
                        <span class="btn disabled btn_page">Next</span>
                    {% endif %}
                </div>
            </div>
        </div>
    </body>
{% endblock %}
