{% extends "layout_login.html" %}

{% block body %}
    <!-- Main Content -->
    <main class="container mt-5 pt-5">
        <h1 class="text-center mb-4">Terms and Conditions</h1>
        {% include 'back.html' %}
        <div class="card p-4">
            <h2>1. Introduction</h2>
            <p>
                Welcome to Imhotep Financial Manager. By accessing or using our application, you agree to comply with and be bound by the following terms and conditions. If you do not agree to these terms, please do not use our application.
            </p>

            <h2>2. Use of the Application</h2>
            <p>
                Imhotep Financial Manager is provided free of charge for personal and commercial use. You may use the application to manage your finances, track expenses, set financial goals, and generate reports. However, you are prohibited from:
            </p>
            <ul>
                <li>Using the application for any illegal or unauthorized purpose.</li>
                <li>Attempting to reverse-engineer, decompile, or disassemble the application.</li>
                <li>Overloading or disrupting the application's infrastructure.</li>
            </ul>

            <h2>3. Data Accuracy</h2>
            <p>
                While we strive to provide accurate and up-to-date financial data, we do not guarantee the accuracy, completeness, or reliability of the data provided by the application. You use the application at your own risk.
            </p>

            <h2>4. Limitation of Liability</h2>
            <p>
                Imhotep Financial Manager and its developers shall not be liable for any direct, indirect, incidental, or consequential damages arising from the use of or inability to use the application. This includes, but is not limited to, loss of data, loss of profits, or business interruption.
            </p>

            <h2>5. Changes to Terms</h2>
            <p>
                We reserve the right to modify these terms and conditions at any time. Any changes will be effective immediately upon posting on this page. Your continued use of the application after any changes constitutes your acceptance of the new terms.
            </p>

            <h2>6. Contact Us</h2>
            <p>
                If you have any questions about these terms and conditions, please contact us at <a href="mailto:imhoteptech@outlook.com">imhoteptech@outlook.com</a>.
            </p>
        </div>
    </main>
{% endblock %}