{% extends "layout.html" %}

{% block body %}
    {% include 'nav.html' %}
    <body style="display: flex; flex-direction: column; min-height: 100vh;">
        <div class="container" style="flex-grow: 1; padding-top: 80px; overflow: auto;">
            <div class="message-container">
                {% if error %}
                <div class="error-message">{{ error }}</div>
                {% endif %}
            </div>
            <a class="nav-link" href="/filter_year_wishlist"><i class="fas fa-arrow-left"></i> Wishlist</a>
            <div class="table-container" style="flex-grow: 1; overflow: auto;">
                <table class="c">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>year</th>
                            <th>price</th>
                            <th>Currency</th>
                            <th>Details</th>
                            <th>Link</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for wish in trash_wishlist_data %}
                            <tr>
                                <td>{{ wish.wish_trash_id }}</td>
                                <td>{{ wish.year }}</td>
                                <td>{{ "{:,.2f}".format(wish.price|float) }}</td>
                                <td>{{ wish.currency }}</td>
                                <td class="details-cell">{{ wish.wish_details }}</td>
                                <td class="details-cell">
                                    <a href="{{ wish.link }}" target="_blank" title="{{ wish.link }}">{{ wish.link}}</a>
                                </td>
                                <td>
                                    <form action="/trash_wishlist" method="post" style="display: inline;">
                                        {{ form.hidden_tag() }}
                                        <input type="hidden" name="wish_trash_key" value="{{ wish.wish_trash_key }}">
                                        <button type="submit" class="btn-green" title="Restore">
                                            <i class="fas fa-add"></i>
                                        </button>
                                    </form>
                                    <form action="/delete_trash_wishlist" method="post" style="display: inline;">
                                        {{ form.hidden_tag() }}
                                        <input type="hidden" name="wish_trash_key" value="{{ wish.wish_trash_key }}">
                                        <button type="submit" class="btn-red" title="Permanent Delete">
                                            <i class="fas fa-trash"></i>
                                        </button>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </body>
    
{% endblock %}
