{% extends "layout.html" %}

{% block body %}
    {% include 'nav.html' %}
    <div class="message-container">

        {% if error %}
        <div class="error-message">{{ error }}</div>
        {% endif %}

    </div>
    
    <form action="/withdraw" method="post" class="form-container">
        {{ form.hidden_tag() }}
        {% include 'back.html' %}
        <div class="form-group">
            <input type="date" class="input" placeholder="Date" name="date" id="dateInput">
        </div>
        <div class="form-group">
            <input type="number" min="0" step="any" class="input" placeholder="Amount" name="amount" required="">
        </div>
        <div class="form-group">
            <div class="input-group">
                <input type="text" id="searchInput1" placeholder="Search Currency" class="input">
                <select name="currency" id="CurrencySelect1" class="input" required>
                    <option disabled selected>Currency</option>
                    {% for currency in currency_all %}
                        <option value="{{ currency }}">{{ currency }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="form-group">
            <input type="text" class="input" placeholder="Details" name="trans_details">
        </div>
        <div class="form-group">
            <input type="text" class="input" placeholder="Link" name="trans_details_link">
        </div>
        <div class="form-group">
            <button  class="btn-teal" type="submit" title="Submit">
                    <i class="fas fa-check"></i>
            </button>
        </div>
    </form>

    <script>
        const currencySelect1 = document.getElementById('CurrencySelect1');

const originalOptions1 = [...currencySelect1.options];

// Event listeners for the input fields
searchInput1.addEventListener('input', () => {
filterOptions(searchInput1, currencySelect1, originalOptions1);
});

document.addEventListener("DOMContentLoaded", function () {
const doctorCategory = "{{ favorite_currency }}";

const selectElement = document.getElementById("CurrencySelect1");
const options = selectElement.options;

for (let i = 0; i < options.length; i++) {
if (options[i].value === doctorCategory) {
    options[i].selected = true;
    break;
}
}
});
</script>
{% endblock %}