{% extends "layout.html" %}

{% block body %}
    {% include 'nav.html' %}
    <div class="message-container">

        {% if error %}
        <div class="error-message">{{ error }}</div>
        {% endif %}

    </div>
    
    <form action="/withdraw" method="post" class="form-container" onsubmit="return confirm('Are you sure you want to withdraw money');">
        {% include 'back.html' %}
        <div class="form-group">
            <input type="date" class="input" placeholder="Date" name="date" id="dateInput">
        </div>
        <div class="form-group">
            <input type="number" min="0" class="input" placeholder="Amount" name="amount" required="">
        </div>
        <div class="form-group">
            <div class="input-group">
                <input type="text" id="searchInput1" placeholder="Search Currency" class="input">
                <select name="currency" id="CurrencySelect1" class="input" required>
                    <option disabled selected>Currency</option>
                    {% for currency in currency_all %}
                        <option value="{{ currency }}">{{ currency }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="form-group">
            <input type="text" class="input" placeholder="Details" name="trans_details">
        </div>
        <div class="form-group">
            <input type="text" class="input" placeholder="Link" name="trans_details_link">
        </div>
        <div class="form-group">
            <button  class="btn-teal" type="submit">Submit</button>
        </div>
    </form>

    <script>
        const searchInput = document.getElementById('searchInput');
        const currencySelect1 = document.getElementById('CurrencySelect1');

        const originalOptions1 = [...currencySelect1.options];

        function filterOptions(searchInput, currencySelect, originalOptions) {
            const searchText = searchInput.value.toLowerCase();
            currencySelect.innerHTML = '';

            // Filter from original options
            const filteredOptions = originalOptions.filter(option => {
                const optionText = option.textContent.toLowerCase();
                return optionText.includes(searchText);
            });

            // Add filtered options to the select dropdown
            filteredOptions.forEach(option => {
                currencySelect.appendChild(option);
            });

            // If no options match the filter, re-add the default disabled option
            if (filteredOptions.length === 0) {
                const defaultOption = document.createElement('option');
                defaultOption.disabled = true;
                defaultOption.selected = true;
                defaultOption.textContent = 'No Match';
                currencySelect.appendChild(defaultOption);
            }
        }

        // Event listeners for the input fields
        searchInput1.addEventListener('input', () => {
            filterOptions(searchInput1, currencySelect1, originalOptions1);
        });

        // Set today's date as default in the date input
        const today = new Date().toISOString().split('T')[0];
        dateInput.value = today;
    </script>
{% endblock %}